version: "3.9"

services:
  web:
    container_name: scantum
    image: scantum
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: development
      NEXT_TELEMETRY_DISABLED: "1"
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.next
    restart: unless-stopped
